DATABASE_URL="postgresql://neondb_owner:npg_yRi6IOBL4bhP@ep-curly-darkness-ayrsrv3k-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://neondb_owner:npg_yRi6IOBL4bhP@ep-curly-darkness-ayrsrv3k-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
