# Neon PostgreSQL Connection Strings (Replace placeholder credentials with your Neon database connection)
DATABASE_URL="Neon PostgreSQL Connection Strings"
DIRECT_URL="Neon PostgreSQL Connection Strings"

# Cloudinary Product Image Upload Configuration
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"

# NextAuth / Auth.js Configuration
# Local Dev: http://localhost:3000 | Production: https://digiclinixpharmacy.vercel.app
NEXTAUTH_URL="https://digiclinixpharmacy.vercel.app"
AUTH_SECRET="your_auth_secret_32_bytes_hex"

# Google OAuth 2.0 Credentials

GOOGLE_CLIENT_ID="your_google_client_id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="your_google_client_secret"
